@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background-color: #357;
}


/* header css */
.header.header-event-banner .wrapper {
  position: relative
}

.header.header-event-banner #bg-event-banner {
  position: absolute;
  top: 0;
  z-index: 9
}

.header.header-event-banner .header-event {
  position: relative;
  z-index: 99;
  width: 100%
}

.header.header-event-banner .header-event .header-in {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 92%;
  height: 54px
}

@media(max-width: 1024px) {
  .header.header-event-banner .header-event .header-in {
      width:96%;
      height: 60px
  }
}



.header.header-event-banner .header-event .header-in .logo {
  padding-right: .75rem;
  width: 10%
}

@media(max-width: 1024px) {
  .header.header-event-banner .header-event .header-in .logo {
      width:13%
  }
}

@media(max-width: 768px) {
  .header.header-event-banner .header-event .header-in .logo {
      width:15%
  }
}

.header.header-event-banner .header-event .header-in .logo img {
  max-width: 100%;
  height: auto
}


.header.header-event-banner .header-event .header-in .search {
  flex-grow: 1;
  padding-right: .75rem
}

.header.header-event-banner .header-event .header-in .topnav {
  padding-left: 1rem;
  width: 28%
}

@media(max-width: 1024px) {
  .header.header-event-banner .header-event .header-in .topnav {
      padding:0 0 0 1.25rem;
      width: 30%
  }
}

.header {
  background-color: #ffffff
}

@media(max-width: 768px) {
  .header {
      display:none
  }
}

.header #bg-event-banner {
  display: none
}

.header .header-in {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 96%;
  height: 54px
}

@media(max-width: 1024px) {
  .header .header-in {
      width:98%;
      height: 60px
  }
}

.header .header-in .download-button {
  background-color: #696d7c;
  border-radius: 5px;
  color: #fff;
  padding: 11px 22px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 800;
  transition: opacity .3s;
  margin-left: 10px
}

@media(max-width: 1024px) {
  .header .header-in .download-button {
      display:none
  }
}

.header .header-in .download-button.hover {
  opacity: .8
}

.header .header-in .logo {
  padding-right: .75rem;
  width: 10%
}

@media(max-width: 1024px) {
  .header .header-in .logo {
      width:13%
  }
}

@media(max-width: 768px) {
  .header .header-in .logo {
      width:15%
  }
}

.header .header-in .logo img {
  max-width: 100%;
  height: auto
}




.header .header-in .search {
  flex-grow: 1;
  padding-right: .75rem
}

.header .header-in .topnav {
  padding-left: 1rem;
  width: 28%
}

@media(max-width: 1024px) {
  .header .header-in .topnav {
      padding:0 0 0 1.25rem;
      width: 30%
  }
}

.header .search {
  position: relative
}

.header .search .search-cta {
  position: relative
}

.header .search .search-cta .keyword {
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: .45rem;
  padding: 0 .85rem;
  width: 100%;
  height: 38px;
  font-size: .95rem;
  font-weight: 500;
  color: #282f44;
  background-color: #eddbb2
}

@media(max-width: 1024px) {
  .header .search .search-cta .keyword {
      font-size:.75rem
  }
}

.header .search .search-cta .keyword::placeholder {
  color: #696d7c;
  opacity: 1
}

.header .search .search-cta .keyword:focus {
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.15);
  box-shadow: 0 0 3px rgba(0,0,0,.15);
  background-color: #fbf8f0
}

.header .search .search-cta .cta {
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  border-top-right-radius: .45rem;
  border-bottom-right-radius: .45rem;
  background-color: #696d7c
}

@media(max-width: 1024px) {
  .header .search .search-cta .cta {
      right:10px
  }
}

.header .search .search-cta .cta svg {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.header .search .search-menu {
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.15);
  box-shadow: 0 0 3px rgba(0,0,0,.15);
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 0;
  border-bottom-left-radius: .45rem;
  border-bottom-right-radius: .45rem;
  border: none;
  position: absolute;
  top: 46px;
  margin: 0;
  width: 98%;
  background-color: #fff
}

.header .search .search-menu::after {
  z-index: -1;
  position: fixed;
  top: 94px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.35);
  pointer-events: none;
  content: ""
}

.header .search .trendings {
  padding: .5rem 1.25rem
}

.header .search .trendings .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  padding: .5rem 0
}

.header .search .trendings .top h5 .title {
  font-size: 1.15rem;
  font-weight: 700;
  color: #282f44
}

.header .search .trendings .top h5 .svg {
  margin: 0 .5rem;
  width: 16px;
  height: 16px;
  fill: #dbb764
}

.header .search .trendings .top .svg {
  width: 9px;
  height: 9px;
  fill: #696d7c
}

.header .search .trendings .page {
  margin-bottom: 1rem;
  padding: .25rem .75rem .25rem 0
}


.header .search .trendings .page .cta-all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .75rem
}

.header.header-event-banner .search .search-cta .keyword {
  border: 1px solid #c5c5c5;
  background-color: #fff
}

.header.header-event-banner .search .search-cta .cta {
  background-color: #282f44
}

.header .topnav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.header .topnav ul li {
  position: relative;
  text-align: center
}

.header .topnav ul li.show::after {
  z-index: 30;
  position: fixed;
  top: 94px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.35);
  pointer-events: none;
  content: ""
}

@media(max-width: 1024px) {
  .header .topnav ul li.show::after {
      top:60px
  }
}

.header .topnav ul li .dropdown-menu ul {
  margin: 0;
  padding: 0 1.42rem
}

.header .topnav ul li .dropdown-menu ul li {
  padding: .65rem 0
}

.header .topnav ul li .dropdown-menu ul li .label {
  padding: 0 .5rem;
  font-size: .95rem;
  font-weight: 500;
  line-height: 1.15rem;
  color: #282f44
}

.header .topnav ul li.sep {
  width: 2px;
  height: 20px;
  background-color: #8b9ae4
}





.header .topnav .topnavs .dropdown-menu.right {
  left: auto !important;
  right: 0 !important;
  transform: translate3d(0, 40px, 0px) !important
}

.header .topnav .topnavs a.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none
}

.header .topnav .topnavs a.cta:hover .svg {
  color: #eddbb2;
}

.header .topnav .topnavs a.cta:hover .label {
  color: #eddbb2;
}

.header .topnav .topnavs a.cta .svg {
  width: 22px;
  height: 22px;
  fill: #fff;
  transition: all .3s ease
}

@media(max-width: 1024px) {
  .header .topnav .topnavs a.cta .svg {
      width:24px;
      height: 24px
  }
}

.header .topnav .topnavs a.cta .label {
  margin: .15rem 0 0 0;
  font-size: .58rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  transition: all .3s ease
}

@media(max-width: 1024px) {
  .header .topnav .topnavs a.cta .label {
      font-size:.65rem
  }
}

@media(max-width: 768px) {
  .header .topnav .topnavs a.cta .label {
      font-size:.57rem
  }
}

.header .topnav .topnavs a.cta .label:hover {
  color: #eddbb2
}

.header.header-event-banner .topnav .topnavs a.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none
}

.header.header-event-banner .topnav .topnavs a.cta:hover .svg {
  color: #282f44
}

.header.header-event-banner .topnav .topnavs a.cta:hover .label {
  color: #282f44
}

.header.header-event-banner .topnav .topnavs a.cta .svg {
  width: 22px;
  height: 22px;
  color: #282f44;
  transition: all .3s ease
}

.header.header-event-banner .topnav .topnavs a.cta .label {
  margin: .15rem 0 0 0;
  font-size: .58rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #282f44;
  transition: all .3s ease
}

@media(max-width: 1024px) {
  .header.header-event-banner .topnav .topnavs a.cta .label {
      font-size:.65rem
  }
}

@media(max-width: 768px) {
  .header.header-event-banner .topnav .topnavs a.cta .label {
      font-size:.57rem
  }
}

.header.header-event-banner .topnav .topnavs a.cta .label:hover {
  color: #eddbb2
}

@media(max-height: 650px) {
  .header .topnavs .cart .page .items {
      max-height:150px
  }
}

.header .topnavs .cart .page .items .item {
  display: block;
  width: 100%;
  margin-bottom: 1rem
}

.header .topnavs .cart .page .items .item:last-child {
  margin-bottom: 0
}

.header .topnavs .cart .page .total {
  display: flex;
  flex-direction: column;
  margin-bottom: .75rem;
  line-height: normal;
  text-align: right
}

.header .topnavs .cart .page .total .label {
  font-size: .7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #696d7c
}

.header .topnavs .cart .page .total .price {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.05rem;
  color: #282f44
}


.header .topnavs .cart .page .cta {
  display: flex;
  flex-direction: column
}



